<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>

    <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <!--<link href="bootstrap3/css/font-awesome.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/gsdk.css" rel="stylesheet" />
    <link href="assets/css/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/dstyle.css">


</head>
<body>
<div id="navbar-full">
    <div id="navbar">

        <nav class="navbar navbar-ct-blue navbar-fixed-top" role="navigation">
            <div class="alert alert-success hidden">
                <div class="container">
                </div>
            </div>

            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/module-layout/homepage.html">MovieFlix</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#gsdk">Link</a></li>-->
                        <li class="dropdown">
                            <a href="#gsdk" class="dropdown-toggle" data-toggle="dropdown">Discover <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/module-layout/discover.html">Movies</a></li>
                                <li><a href="/module-layout/discover.html">Television</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#gsdk" data-toggle="search" class="hidden-xs"><i class="fa fa-search"></i></a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left navbar-search-form" role="search">
                        <div class="form-group">
                            <input type="text" value="" class="form-control input-mysize" placeholder="Search...">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#gsdk">Register</a></li>-->

                        <li><a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Login/Register</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div><!--  end navbar -->
</div><!-- end menu-dropdown -->
<div class="row uppermargin">
    <div class="tim-title text-center">
        <h1>Admin Panel</h1>
    </div>
    <div class="container">
        <h3>Movie Controls</h3>
        <a href="/module-layout/addmovie.html" class="btn btn-primary" role="button">Add movie</a>
        <a href="/module-layout/admin/updatemovie.html" class="btn btn-primary" role="button">Update movie</a>
        <a href="/module-layout/admin/deletemovie.html" class="btn btn-primary" role="button">Deletions</a>
        <a href="/module-layout/admin/searchmovie.html" class="btn btn-primary" role="button">Search</a>
    </div>
    <div class="container">
        <h3>User Controls</h3>
        <a href="/module-layout/admin/deleteuser.html" class="btn btn-primary" role="button">Delete user</a>
        <a href="/module-layout/admin/updateuser.html" class="btn btn-primary" role="button">Update user</a>
        <a href="/module-layout/admin/search.html" class="btn btn-primary" role="button">Search</a>
    </div>
</div>
<div class="parallax-pro">
    <div class="img-src" style="background-image: url('assets/img/got.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>
                    <small>
                        Get the best of MovieFlix:<a>
                    </small>
                </h3>
            </div>
            <div class="col-md-6 col-md-offset-3 col-md-12 text-center">
                <h1 class="hello text-center">
                    <p><a class="btn btn-primary btn-lg" href="#" role="button"><strong>Join the Comumunity</strong></a></p>

                    <small>
                        <ul class="list-unstyled">
                            <li>About us</li>
                            <li>Contact us</li>
                            <li>API</li>
                        </ul>
                    </small>
                </h1>
                <!--<div class="actions">-->
                <!--</div>-->
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="credits">
                    <p>Made by <a target="_blank" href="https://github.com/rohitjantwal">Rohit Jantwal</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</body>
<script src="jquery/jquery-1.10.2.js" type="text/javascript"></script>

</html>